body {
  background-color: var(--color-background-default);
}

#mmd-root {
  height: 100%;
  width: 100%;
}

#mmd-app-content {
  padding: 0 16px;
  height: 100%;
}

#mmd-draggable-hidden-bar {
  height: 30px;
  width: 100%;
  -webkit-app-region: drag;
}

@import './pages/mmd-pages.scss';
@import './components/mmd-components.scss';
