@import "./about-tab/index.scss";

.mmd-settings-page {
  display: flex;
  flex-flow: column nowrap;

  &__header {
    padding: 8px 24px 18px 24px;
  }

  &__content {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    overflow: auto;
    border-top: 1px solid var(--color-border-muted);
    padding: 12px 0;

    &__tabs {
      display: flex;
      flex-direction: column;
      flex: 1 1 auto;
      max-width: 180px;
    }

    &__modules {
      overflow-y: auto;
      flex: 1 1 auto;
      display: flex;
      flex-flow: column;
    }

    &__body {
      display: flex;
      flex-direction: column;
      padding: 20px 4px;
    }
  }

  &__subheader {
    padding: 4px;
    border-bottom: 1px solid var(--color-border-muted);
    height: 72px;
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
  }

  &__setting-row {
    margin: 10px 0;
  }

  &__setting-item {
    margin-bottom: 20px;
  }

  &__setting-col {
    max-width: 300px;
    display: flex;
    flex-direction: column;
  }
}
