.mmd-error-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 80px;


  &__header {
    @include H3;
    font-weight: bold;
    display: flex;
    justify-content: center;
    padding: 10px 0;
    text-align: center;
  }

  &__subheader {
    @include Paragraph;
    text-align: center;
  }

  &__details {
    @include Paragraph;

    overflow-y: auto;
    width: 100%;
    max-width: 720px;
    padding-top: 10px;
  }

  &__stack {
    overflow-x: auto;
    padding: 8px 12px;
    margin-top: 8px;
    background-color: var(--color-background-alternative);
    
  }

  &__link-text {
    color: var(--color-primary-default);
  }
}
