.about-tab {
  &__logo-wrapper {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
  }

  &__logo {
    height: 80px;
  }

  &__item {
    padding: 10px 0;
  }

  &__link-header {
    padding-bottom: 15px;
  }

  &__link-text {
    width: max-content;
    padding: 0;
    font-size: 14px;
  }

  &__link-item {
    padding: 4px 0;
  }

  &__version-number {
    @include H6;

    padding-top: 5px;
    color: var(--color-text-muted);
  }

  &__separator {
    margin: 15px 0;
    width: 80px;
    border: none;
    height: 1px;
    background-color: var(--color-border-muted);
  }
}
