$otp-height: 142px;

.mmd-pair-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__spinner {
    width: 50px;
    margin: 80px 0;
    height: $otp-height;
  }

  &__otp-input {
    width: 72px !important;
    height: $otp-height;
    background: var(--color-background-default);
    color: var(--color-text-default);
    border: 1px solid var(--color-border-muted);
    font-size: 48px;
    font-family: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono, monospace;
    margin-right: 4px;
    border-radius: 4px;

    &__error {
      border: 1px solid var(--color-error-default);
    }

    &__disabled {
      background: #2f2f2f;
      color: #a8a8a8;

      &:hover {
        cursor: not-allowed;
      }
    }

    &__container {
      margin: 80px 0;
      position: relative;
    }

    &__error-message {
      position: absolute;
      bottom: -50px;
      left: 0;
      right: 0;
      text-align: center;
    }
  }
}
