body {
  background-color: var(--color-background-default);
}

#mmd-root {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  padding-top: 30px;
}

#mmd-app-content {
  padding: 0 16px;
  height: 100%;
}

#mmd-draggable-hidden-bar {
  height: 30px;
  width: 100%;
  -webkit-app-region: drag;
  position: fixed;
  top: 0;
}

@import './pages/mmd-pages.scss';
@import './components/mmd-components.scss';
